

h1  {
    color: whitesmoke;;
}

p {
    color: whitesmoke;
}

.custom-icon {
    font-size: 2rem; /* Adjust size as needed */
    margin-right: 3rem; /* Adjust spacing as needed */
}
  
.custom-icon:last-child {
    margin-right: 0; /* Remove margin from the last icon */
}




@media (max-width: 992px) {
    .profile-image {
      max-width: 300px; /* Maximum width on larger screens */
    }
}
@media (min-width: 993px) {
    .profile-image {
      max-width: 450px; /* Maximum width on larger screens */
    }
}